        @import 'fonts.css';
        @import 'adaptive.css';
        .html {
            scroll-behavior: smoot;
        }
        
        .contact-button,
        .contact-button:active,
        .contact-button:focus {
            outline: none;
        }
        
        a {
            text-decoration: none !important;
        }
        
        .header-text a:hover {
            color: white !important;
        }
        
        .header-text a:hover {
            color: #FF1F70 !important;
        }
        
        .wrapper-col {
            display: flex;
        }
        
        .body {
            font-family: 'Montserrat Medium';
            font-size: 18px;
            color: white;
            overflow: auto;
        }
        
        .header {
            background: linear-gradient(119.94deg, #06001E 2.44%, #150067 98.96%);
            width: 100%;
            height: 969px;
            max-height: 969px;
        }
        
        .burger-toogle {
            display: none;
        }
        
        .wrapper-col li {
            list-style-type: none;
        }
        
        .header-text {
            font-size: 22px;
            font-style: 'Raleway Meduim';
            color: white;
            margin: 35px;
            top: 20px;
            position: relative;
            left: 600px;
        }
        
        .header-text:hover {
            text-decoration: none;
        }
        
        .wrapper-col {
            margin: 0 auto;
            width: 90%;
            max-width: 1600px;
            top: 20px;
            position: relative;
        }
        
        .logotype {
            position: relative;
        }
        
        .menu-item {
            display: flex;
        }
        
        .contact-button {
            background: #4C0DFF;
            height: 60px;
            width: 220px;
            border-radius: 50px;
            border: none;
            color: white;
            font-size: 18px;
            cursor: pointer;
            position: relative;
            left: 700px;
            top: 40px;
            transition: 0.4s;
        }
        
        .fa-address-book {
            margin: 15px;
            font-size: 24px;
            left: 10px;
            position: relative;
        }
        
        .contact-button-text {
            position: relative;
            top: 14px;
            left: 15px;
        }
        
        .contact-button:hover {
            -webkit-box-shadow: 0px 0px 41px 0px rgba(76, 13, 255, 1);
            -moz-box-shadow: 0px 0px 41px 0px rgba(76, 13, 255, 1);
            box-shadow: 0px 0px 41px 0px rgba(76, 13, 255, 1);
        }
        
        .header-text:hover {
            color: #FF1F70;
            transition: 0.4s;
            cursor: pointer;
        }
        
        .header-text:hover a {
            color: #FF1F70;
        }
        
        .header-text:hover a:hover {
            color: #FF1F70;
        }
        
        .header-title {
            position: relative;
            top: 20px;
        }
        
        .header-title a {
            position: relative;
            left: 180px;
            bottom: 8px;
        }
        
        .header-text hr {
            height: 2px;
            width: 0%;
            background: transparent;
            border-radius: 50px;
            transition: 0.4s;
        }
        
        .header-text:hover hr {
            background: #FF1F70;
            width: 100%;
        }
        
        .header-body-title {
            font-style: 'Montserrat Bold';
            font-size: 86px;
            color: #FF1469;
        }
        
        .header-body-title-2 {
            color: #4C0DFF;
        }
        
        .header-body-desc {
            max-width: 70%;
            font-style: 'Montserrat Medium';
            font-size: 19px;
            color: #fff;
        }
        
        .vertborder {
            height: 120px;
            width: 9px;
            background: #aaaaaa;
            border-radius: 50px;
            margin: 20px;
            bottom: 20px;
            transition: 0.4s;
            position: relative;
        }
        
        .header-desc {
            left: 30px;
            top: 50px;
            position: relative;
        }
        
        .header-body {
            position: relative;
            top: 150px;
            left: 150px;
        }
        
        .header-img {
            position: relative;
            bottom: 130px;
            right: 150px;
        }
        
        .header-desc:hover .vertborder {
            background: #FF1469;
            -webkit-box-shadow: 0px 0px 41px 0px rgba(255, 20, 105, 1);
            -moz-box-shadow: 0px 0px 41px 0px rgba(255, 20, 105, 1);
            box-shadow: 0px 0px 41px 0px rgba(255, 20, 105, 1);
        }
        
        .header-body {
            margin: 0 auto;
            max-width: 1600px;
            width: 90%;
        }
        
        .counter {
            font-family: 'Montserrat SemiBold';
            font-size: 96px;
            color: white;
            position: relative;
            width: 1700px;
            margin: 0 auto;
            max-width: 90%;
            bottom: 50px;
            right: 50px;
        }
        
        .counter-red {
            color: #FF1469;
        }
        
        .counter-text hr {
            background: #fff;
            height: 10px;
            border-radius: 40px;
        }
        
        .counter-blue hr {
            background: #4C0DFF;
            height: 10px;
            border-radius: 40px;
        }
        
        .counter-white {
            font-style: 'Montserrat SemiBold';
            font-size: 86px;
            color: #fff;
        }
        
        .counter-blue {
            font-style: 'Montserrat SemiBold';
            font-size: 86px;
            color: #4C0DFF;
        }
        
        .jobs {
            background: #fff;
            height: 800px;
        }
        
        .jobs-wrapper {
            max-width: 1900px;
            margin: 0 auto;
            position: relative;
            bottom: 50px;
        }
        
        .jobs-title {
            position: relative;
            left: 150px;
            top: 150px;
        }
        
        .counter-2 {
            font-family: 'Montserrat SemiBold';
            font-size: 96px;
            color: white;
            position: relative;
            width: 1920px;
            margin: 0 auto;
            max-width: 10%;
            top: 35px;
            right: 42%;
        }
        
        .counter-sec {
            height: 200px;
            max-width: 1900px;
            width: 100%;
            margin: 0 auto;
            background: #fff;
        }
        /*Карта работ*/
        
        .jobs-cards {
            position: relative;
            top: 300px;
            left: 100px;
        }
        
        .jobs-card {
            margin-left: 40px;
            z-index: 1;
            transition: 0.3s;
        }
        /*Hover + текст*/
        
        .jobs-card:hover {
            transition: 0.4s;
            transform: rotate(2deg) scale(1.1);
            z-index: 1;
        }
        
        .card-text {
            color: white;
            font-family: 'Montserrat SemiBold';
            font-size: 33px;
            position: relative;
            left: 20px;
            top: 180px;
            display: none;
            transition: 0.3s;
        }
        
        .card-text-desc {
            font-family: 'Montserrat Regular';
            font-size: 30px;
        }
        
        .jobs-card:hover .card-image {
            filter: brightness(65%);
        }
        
        .jobs-card:hover .card-text {
            display: inline;
            bottom: 120px;
            position: fixed;
            transition: 0.3s;
        }
        
        .card-done {
            position: relative;
            bottom: 320px;
            left: 500px;
            display: none;
            transition: 0.3s;
        }
        
        .jobs-card:hover .card-done {
            display: block;
        }
        
        .counter-jobs {
            font-family: 'Montserrat SemiBold';
            font-size: 96px;
            color: white;
            position: relative;
            margin: 0 auto;
            max-width: 10%;
            right: 850px;
            top: 400px;
        }
        /*Отывы*/
        
        .reviews {
            background: #06001E;
            width: 100%;
            height: 969px;
            max-height: 969px;
        }
        
        .reviews-block {
            margin: 0 auto;
            width: 1700px;
            position: relative;
            top: 100px;
            left: 25px;
        }
        
        .review-card-l {
            position: relative;
            top: 100px;
        }
        
        .vertborder-reviews {
            height: 120px;
            width: 9px;
            background: #aaaaaa;
            border-radius: 50px;
            margin: 20px;
            bottom: 160px;
            transition: 0.4s;
            position: relative;
        }
        
        .review-form {
            height: 165px;
        }
        
        .review-form-img {
            background: white;
            border-radius: 23px;
            width: 540px;
            height: 165px;
        }
        
        .review-form:hover .vertborder-reviews {
            background: #FF1469;
            -webkit-box-shadow: 0px 0px 41px 0px rgba(255, 20, 105, 1);
            -moz-box-shadow: 0px 0px 41px 0px rgba(255, 20, 105, 1);
            box-shadow: 0px 0px 41px 0px rgba(255, 20, 105, 1);
        }
        
        .fa-user-circle {
            margin: 40px;
            color: white;
        }
        
        .review-form-text {
            font-family: 'Montserrat Medium';
            font-size: 18px;
            color: #444444;
            position: relative;
            left: 30px;
            top: 30px;
        }
        
        .review-org-name {
            font-family: 'Montserrat Medium';
            font-size: 22px;
            color: black;
            position: relative;
            left: 30px;
            top: 50px;
        }
        
        .review-card-r {
            position: relative;
            top: 200px;
            left: 600px;
        }
        
        .review-form-text-r {
            position: relative;
            top: 50px;
            text-align: right;
            font-family: 'Montserrat Medium';
            font-size: 18px;
            color: #444444;
            position: relative;
            left: 10px;
            top: 30px;
        }
        
        .vertborder-reviews-r {
            height: 120px;
            width: 9px;
            background: #aaaaaa;
            border-radius: 50px;
            margin: 20px;
            left: 490px;
            bottom: 160px;
            transition: 0.4s;
            position: relative;
        }
        
        .review-org-name-r {
            font-family: 'Montserrat Medium';
            font-size: 22px;
            color: black;
            position: relative;
            left: 280px;
            top: 60px;
        }
        
        .review-form:hover .vertborder-reviews-r {
            background: #FF1469;
            -webkit-box-shadow: 0px 0px 41px 0px rgba(255, 20, 105, 1);
            -moz-box-shadow: 0px 0px 41px 0px rgba(255, 20, 105, 1);
            box-shadow: 0px 0px 41px 0px rgba(255, 20, 105, 1);
        }
        /*КОНТАКТЫ*/
        
        .contacts {
            height: 1000px;
            width: 100%;
            background: linear-gradient(119.94deg, #06001E 2.44%, #150067 98.96%);
        }
        
        .contacts-title {
            position: relative;
            top: 200px;
            left: 10px;
        }
        
        .contact-card {
            background: #FFFFFF;
            width: 500px;
            margin: 30px;
            height: 215px;
            border-radius: 33px;
            -webkit-box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.23);
            -moz-box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.23);
            box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.23);
            transition: 0.4s;
        }
        
        .contact-card:hover {
            -webkit-box-shadow: 0px 0px 48px 0px rgba(255, 20, 105, 1);
            -moz-box-shadow: 0px 0px 48px 0px rgba(255, 20, 105, 1);
            box-shadow: 0px 0px 48px 0px rgba(255, 20, 105, 1);
            text-decoration: none;
        }
        
        .contacts-block {
            width: 1700px;
            margin: 0 auto;
        }
        
        .contacts-cards {
            position: relative;
            top: 350px;
        }
        
        .img-center {
            margin: 0 auto;
            position: relative;
            top: 15px;
            display: block;
        }
        
        .contact-card-text {
            text-transform: uppercase;
            font-size: 26px;
            font-style: 'Roboto Light';
            color: #979797;
            position: relative;
            top: 3px;
            left: 290px;
        }
        
        .card-ico {
            position: relative;
            left: 470px;
            bottom: 15px;
        }
        
        .contact-card {
            cursor: pointer;
        }
        
        .counter-3 {
            position: relative;
            top: 460px;
            width: 1920px;
            margin: 0 auto;
            left: 60px;
        }
        
        .footer {
            background: #0B0134;
            width: 100%;
            margin: 0 auto;
            height: 450px;
        }