@media (max-width: 1600px) {
    /*СЛАЙДЕР*/
    .slider-image {
        width: 1600px;
        height: 900px;
    }
    .header {
        width: 1600px;
        height: 900px;
    }
    .menu-bar nav {
        position: absolute;
        left: 50px !important;
    }
    .slide-text {
        position: absolute;
        padding-left: 1000px !important;
    }
    /*LIVE - ЛЕНТА*/
    .tape {
        width: 1400px !important;
        height: 170px !important;
        margin: 0 auto;
    }
    .live-text {
        height: 170px !important;
        position: relative;
        bottom: 170px !important;
        left: 90px;
    }
    .live-vert {
        position: relative;
        width: 100px;
        right: 70px !important;
        top: 40px !important;
    }
    .card-border {
        position: absolute;
        width: 120px;
    }
    .card-img {
        width: 100px !important;
    }
    .live-card {
        margin-right: 45px !important;
    }
    .live-card p {
        left: 13px;
        top: 30px;
        font-size: 14px !important;
    }
    .live-card span {
        position: absolute;
        bottom: 80px !important;
    }
    /*РЕКОМЕНДАЦИИ*/
    .recomend-block {
        width: 1420px !important;
        margin: 0 auto;
    }
    .rec-card {
        width: 340px !important;
        margin-right: 15px;
        height: 230px !important;
    }
    .recomend-cards {
        width: 1450px !important;
    }
    .rec-price {
        width: 170px !important;
        height: 52px !important;
        top: 10px !important;
    }
    /*CATALOG*/
    .catalog-text {
        left: 40px;
    }
}

@media (max-width: 1440px) {
    .slider {
        width: 1440px;
        height: 900px;
    }
    .slider-image {
        width: 1600px;
    }
    .nav-menu img {
        width: 260px;
    }
    .nav-text {
        font-size: 16px;
    }
    .auth-reg li {
        position: relative;
        right: 110px;
        bottom: 10px;
    }
    .slide-text {
        position: absolute;
        padding-left: 850px !important;
    }
    /*LIVE - лента*/
    .tape {
        width: 1240px !important;
        height: 170px !important;
        position: relative;
        right: 100px;
        margin: 0 auto !important;
    }
    .live-text {
        height: 170px !important;
        position: relative;
        bottom: 170px !important;
        left: 70px;
    }
    .live-vert {
        position: relative;
        width: 100px;
        font-size: 18px !important;
        right: 73px !important;
        top: 30px !important;
    }
    .card-border {
        position: absolute;
        width: 105px !important;
    }
    .card-img {
        width: 85px !important;
    }
    .live-card {
        margin-right: 30px !important;
        left: 50px !important;
    }
    .live-card p {
        left: 5px !important;
        top: 30px;
        font-size: 14px !important;
    }
    .live-card span {
        font-size: 11px !important;
        right: 18px !important;
        position: absolute;
        bottom: 90px !important;
    }
    /*РЕКОМЕНДАЦИИ*/
    .recomend-block {
        width: 1240px !important;
        margin: 0 auto;
    }
    .rec-price p {
        position: relative;
        right: 30px !important;
    }
    .rec-price img {
        position: relative;
        left: 40px !important;
    }
    .rec-card {
        width: 300px !important;
        margin-right: 15px !important;
        height: 200px !important;
    }
    .recomend-cards {
        width: 1300px !important;
    }
    .rec-price {
        width: 150px !important;
        height: 45px !important;
        position: relative;
        top: 0px !important;
    }
    .rec-platform {
        padding-top: 20px !important;
        position: relative;
    }
    .sorter-button {
        width: 320px !important;
        margin-left: 50px !important;
        height: 60px !important;
    }
    /*CATALOG*/
    .catalog-text {
        left: 40px;
    }
    .sort-buttons {
        width: 1200px;
        position: relative;
        left: 50px;
        margin: 0 auto;
    }
    .sort-button-text {
        font-size: 16px !important;
        left: 80px !important;
        top: 19px !important;
    }
    .key-ico {
        position: relative;
        right: 40px !important;
    }
    .fa-user-circle {
        position: relative;
        left: 65px !important;
        top: 15px !important;
    }
    .fa-compact-disc {
        color: white;
        position: relative;
        left: 65px !important;
        top: 15px !important;
    }
    .catalog {
        margin: 0 auto !important;
        width: 1440px;
        position: relative;
        right: 50px;
    }
    /*Footer*/
    .footer-text {
        position: relative;
        right: 200px;
    }
    .footer-nav {
        position: relative;
        left: 1000px !important;
    }
}

@media (max-width: 1366px) {
    .slider {
        width: 1366px;
        height: 768px;
    }
    .slider-image {
        width: 1366px;
        height: 768px;
    }
    .nav-menu img {
        width: 260px;
    }
    .nav-text {
        font-size: 16px;
    }
    .auth-reg li {
        position: relative;
        right: 190px;
        bottom: 10px;
    }
    .slide-text {
        position: absolute;
        padding-left: 800px !important;
        top: 400px !important;
    }
    .live-card span {
        position: absolute;
        bottom: 100px !important;
    }
    /*Каталог*/
    .catalog {
        margin: 0 auto !important;
        width: 1440px;
        position: relative;
        right: 85px !important;
    }
}

@media (max-width: 1200px) {
    .slider {
        width: 1024px !important;
        height: 600px;
    }
    .slider-image {
        width: 1024px;
        height: 600px;
    }
    .nav-menu img {
        width: 260px;
    }
    .nav-text {
        font-size: 16px !important;
        margin-right: 20px !important;
    }
    .auth-reg li {
        position: relative;
        right: 230px;
        bottom: 10px;
    }
    .slide-text {
        position: absolute;
        padding-left: 600px !important;
        font-size: 30px !important;
        top: 290px !important;
    }
    .slide-desc {
        font-size: 20px !important;
    }
    /*LIVE - Лента*/
    .tape {
        width: 1100px !important;
        height: 150px !important;
        position: relative;
        right: 220px;
        margin: 0 auto !important;
    }
    .live-text {
        height: 150px !important;
        position: relative;
        bottom: 150px !important;
        left: 20px;
    }
    .live-vert {
        position: relative;
        width: 100px;
        font-size: 18px !important;
        right: 73px !important;
        top: 30px !important;
    }
    .card-border {
        position: absolute;
        width: 90px !important;
    }
    .card-img {
        width: 70px !important;
    }
    .live-card {
        margin-right: 27px !important;
        left: 50px !important;
    }
    .live-card p {
        left: 5px !important;
        top: 30px;
        font-size: 12px !important;
    }
    .live-card span {
        font-size: 10px !important;
        right: 18px !important;
        position: absolute;
        bottom: 80px !important;
    }
    /*Рекомендации*/
    .recomend-block {
        width: 1100px !important;
    }
    .rec-card {
        width: 300px !important;
        margin-right: 35px !important;
        height: 210px !important;
    }
    .recomend-cards {
        width: 1150px !important;
        padding-top: 100px;
        margin: 0 auto;
        left: 20px;
        position: relative;
    }
    .rec-name {
        font-size: 15px !important;
    }
    .rec-price {
        width: 140px !important;
        height: 40px !important;
        left: 35px;
        top: 20px !important;
        position: relative;
    }
    .rec-platform {
        position: relative;
        left: 35px;
        padding-top: 30px !important;
    }
    .sort-buttons {
        width: 1300px !important;
        position: relative !important;
        padding-right: 290px;
    }
    /*CATALOG*/
    .catalog {
        margin: 0 auto !important;
        width: 1100px !important;
        position: relative;
        right: 200px !important;
    }
    .catalog-card {
        width: 300px !important;
        height: 260px !important;
    }
    .catalog-poster {
        width: 300px !important;
        height: 130px !important;
    }
    .game-name {
        font-size: 16px !important;
    }
}

@media (max-width: 1024px) {
    .header {
        height: 500px !important;
    }
    .slider {
        width: 1024px;
        height: 500px !important;
    }
    .slider-image {
        width: 1024px;
        height: 500px;
    }
    .nav-menu img {
        width: 260px;
    }
    .nav-text {
        font-size: 14px !important;
        margin-right: 20px !important;
    }
    .auth-reg li {
        position: relative;
        right: 320px;
        bottom: 10px;
    }
    .slide-text {
        position: absolute;
        padding-left: 600px !important;
        font-size: 30px !important;
        top: 230px !important;
    }
    .slide-desc {
        font-size: 20px !important;
    }
    .register {
        width: 170px !important;
        height: 45px !important;
    }
    .auth-button {
        margin-right: 20px !important;
    }
    .tape {
        width: 960px !important;
        height: 140px !important;
        right: 290px !important;
    }
    .live-text {
        width: 35px !important;
        height: 140px !important;
        position: relative;
        bottom: 140px !important;
    }
    .live-vert {
        position: relative;
        font-size: 18px !important;
        font-family: 'Roboto Regular';
        width: 190px;
        right: 78px !important;
        top: 15px !important;
    }
    .live-card p {
        position: relative;
        left: 14px;
        top: 30px;
        font-family: 'Montserrat SemiBold';
    }
    .card-border {
        position: absolute;
        width: 80px !important;
    }
    .card-img {
        width: 60px !important;
    }
    .live-card {
        padding-top: 5px;
        left: 70px;
        top: 10px;
        position: relative;
        margin-right: 20px !important;
    }
    .live-card p {
        left: 0px !important;
        top: 30px;
        font-size: 11px !important;
    }
    .recomend-block {
        width: 990px !important;
        margin: 0 auto;
    }
    .recomend-cards {
        width: 1024px !important;
        padding-top: 100px;
        margin: 0 auto;
        left: 0px !important;
    }
    .rec-card {
        margin-right: 20px !important;
    }
    .recomendation {
        height: 800px !important;
    }
    /*CATALOG*/
    .sort-buttons {
        width: 1300px !important;
        position: relative !important;
        padding-right: 380px !important;
        left: 0px !important;
    }
    .sort-button-text {
        font-size: 14px !important;
        left: 70px !important;
        top: 19px !important;
    }
    .fa-user-circle {
        position: relative;
        left: 60px !important;
        top: 17px;
    }
    .key-ico {
        position: relative;
        right: 50px !important;
        top: 17px;
    }
    .fa-compact-disc {
        position: relative;
        left: 60px !important;
        top: 17px;
    }
    .catalog {
        margin: 0 auto !important;
        width: 1000px !important;
        position: relative;
        right: 329px !important;
    }
    /*Footer*/
    .footer {
        width: 1024px !important;
        top: 200px !important;
    }
    .footer-text-block {
        width: 500px !important;
        font-size: 14px !important;
    }
    .footer-nav {
        left: 700px !important;
        width: 100px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .slider {
        width: 768px;
        height: 400px;
    }
    .slider-image {
        width: 768px;
        height: 400px;
    }
    .header {
        height: 400px !important;
    }
    .nav-menu img {
        width: 140px;
        padding-right: 20px !important;
    }
    .nav-text {
        font-size: 13px !important;
        top: 5px !important;
        margin-right: 10px !important;
    }
    .auth-reg li {
        position: relative;
        right: 350px;
        bottom: 10px;
    }
    .slide-text {
        position: absolute;
        padding-left: 400px !important;
        font-size: 24px !important;
        margin-top: 10px !important;
        top: 130px !important;
    }
    .slide-desc {
        font-size: 14px !important;
    }
    .register {
        width: 170px !important;
        height: 45px !important;
    }
    .auth-button {
        margin-right: 20px !important;
        font-size: 12px !important;
    }
    /*LIVE - лента*/
    .tape {
        width: 740px !important;
        position: relative;
        right: 430px !important;
        height: 120px !important;
        border-radius: 25px !important;
    }
    .live-text {
        width: 45px;
        left: 0px !important;
        height: 120px !important;
        position: relative;
        bottom: 120px !important;
    }
    .card-border {
        position: absolute;
        width: 70px !important;
    }
    .card-img {
        left: 5px !important;
        top: 5px !important;
        width: 60px !important;
    }
    .live-card span {
        font-size: 8px !important;
        top: 20px !important;
    }
    .live-card p {
        position: relative;
        left: 14px;
        top: 20px !important;
        font-family: 'Montserrat SemiBold';
        font-size: 9px !important;
    }
    .live-card {
        left: 70px;
        top: 10px;
        position: relative;
        margin-right: 10px !important;
    }
    .live-vert {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: relative;
        font-size: 14px !important;
        font-family: 'Roboto Regular';
        width: 190px;
        right: 75px;
        top: 0px !important;
    }
    /*RECOMENDATION*/
    .recomend-block {
        width: 728px !important;
        margin: 0 auto;
    }
    .recomend-text {
        font-size: 22px !important;
    }
    .recomend-text span {
        font-size: 22px !important;
    }
    .online-counter {
        width: 150px !important;
        height: 55px !important;
    }
    .online-counter p {
        font-size: 16px !important;
    }
    .sorter-button {
        width: 200px !important;
        margin-left: 20px !important;
        height: 70px;
    }
    .sort-button-text {
        position: relative;
        left: 50px !important;
        top: 17px;
    }
    .fa-key {
        color: white;
        left: 80px !important;
    }
    .fa-user-circle {
        position: relative;
        left: 30px !important;
        top: 17px;
    }
    .fa-compact-disc {
        left: 30px !important;
    }
    .catalog-text {
        left: 0px !important;
    }
    /*CATALOG*/
    .catalog {
        margin: 0 auto !important;
        width: 768px !important;
        position: relative;
        right: 429px !important;
    }
    .catalog-card {
        width: 200px !important;
        height: 170px !important;
    }
    .catalog-poster {
        width: 200px !important;
        height: 70px !important;
    }
    .game-name {
        font-size: 10px !important;
        position: relative;
        bottom: 10px !important;
    }
    .platform {
        font-size: 10px !important;
        position: relative;
        bottom: 10px !important;
    }
    .card-platform-ico {
        position: relative;
        bottom: 85px !important;
        left: 70px !important;
    }
    .card-buy-button {
        width: 100px !important;
        height: 40px !important;
        right: 40px;
        top: 0px;
    }
    .card-buy-button {
        color: white;
        font-family: 'Montserrat Bold';
        font-size: 12px !important;
        position: relative;
    }
    .card-buy-button p {
        position: relative;
        right: 10px !important;
        top: 10px !important;
    }
    .main-catalog {
        height: 700px !important;
    }
    .footer {
        width: 768px !important;
        height: 300px !important;
        position: relative;
    }
    .footer-text img {
        position: relative;
        left: 300px;
        top: 70px !important;
    }
    .footer-text-block {
        top: 85px !important;
        font-size: 13px !important;
        width: 400px !important;
    }
    .footer-nav {
        position: relative;
        color: white;
        left: 550px !important;
        bottom: 150px !important;
        display: block;
        width: 100px;
        font-size: 16px;
        font-family: 'Roboto Regular';
    }
}